{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="mt-10 px-6">
    <h1 class="text-3xl font-semibold text-gray-600">User Info</h1>
</div>
<div class="mt-5">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm rounded-lg pb-6">
            <div class="p-6">
                <div class="flex justify-between">
                    <img class="h-[128px] rounded-full border" 
                    src="{{asset('images/default-profile-pic.jpg')}}" alt="Default pic">
                    <div>
                        {% if user.uuid == app.user.uuid %}
                            <a href="{{path('app_user_edit', {uuid:app.user.uuid})}}" type="button" class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none disabled:opacity-25 transition ease-in-out duration-150"
                            >Edit Profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="px-6 flex space-x-20 text-sm">
                <div class=" text-gray-900">Full name:</div>
                <div class=" text-gray-600 font-semibold">{{user.firstName}} {{user.lastName}}</div>
            </div>
            <div class="px-6 flex space-x-20 text-sm">
                <div class=" text-gray-900">Email:</div>
                <div class=" text-gray-600 font-semibold">{{user.email}}</div>
            </div>
            <div class="px-6 flex space-x-20 text-sm">
                <div class=" text-gray-900">Status:</div>
                <div class="p-1 text-xs font-medium no-underline uppercase tracking-wider rounded-lg bg-opacity-50 {{user.status =='Active' ? 'text-green-800 bg-green-200' :'text-red-800 bg-red-200' }}">{{user.status}}</div>
            </div>
            <div class="px-6 flex space-x-20 text-sm">
                <div class=" text-gray-900">UUID:</div>
                <div class=" text-gray-600 font-semibold">{{user.uuid}}</div>
            </div>
            <div class="px-6 flex space-x-20 text-sm">
                <div class=" text-gray-900">Phone number:</div>
                <div class=" text-gray-600 font-semibold">{{user.phoneNumber}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}